html {
  text-align: center;
  font-family: 'Bangers', cursive;
  background-color: darkslategrey;
}

canvas {
  position: absolute;
  left: 50%;
  width: 400px;
  margin-left: -200px;
}

button {
  padding: 3px;
  background-color: rgb(66, 165, 91);
  font-size: 20px;
  text-align: center;
  margin-left: 10;
}

button:hover {
  cursor: pointer;
}

#medium {
  background-color: yellow;
}
